@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
section#comments {
  display: none; }

.page-article {
  padding: 0; }

:-moz-selection {
  /* Code for Firefox */
  background: yellow;
  animation: 30s backgroundColor infinite; }

::selection {
  background: yellow;
  animation: 30s backgroundColor infinite; }

body {
  animation: 30s backgroundColor infinite; }

@keyframes pastelColor {
  0% {
    color: #D7BDE2; }
  10% {
    color: #5DADE2; }
  20% {
    color: #A3E4D7; }
  30% {
    color: #F7DC6F; }
  40% {
    color: #7DCEA0; }
  50% {
    color: #F7DC6F; }
  60% {
    color: #F5B041; }
  70% {
    color: #F5B041; }
  80% {
    color: #CD6155; }
  90% {
    color: #F1948A; }
  100% {
    color: #D7BDE2; } }

@keyframes backgroundColor {
  0% {
    background-color: #D7BDE2; }
  10% {
    background-color: #5DADE2; }
  20% {
    background-color: #A3E4D7; }
  30% {
    background-color: #F7DC6F; }
  40% {
    background-color: #7DCEA0; }
  50% {
    background-color: #F7DC6F; }
  60% {
    background-color: #F5B041; }
  70% {
    background-color: #F5B041; }
  80% {
    background-color: #CD6155; }
  90% {
    background-color: #F1948A; }
  100% {
    background-color: #D7BDE2; } }

img {
  border: 2px solid black; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }
  .row .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px; }
    .row .column img {
      margin-top: 10px;
      vertical-align: middle; }

nav {
  position: fixed;
  width: 100%;
  text-align: right;
  padding-right: 60px;
  padding-top: 25px;
  height: 60px;
  top: 0;
  animation: 30s backgroundColor infinite;
  color: black;
  font-family: Helvetica;
  font-size: 16px;
  z-index: 100; }

h1 {
  font-size: 60px;
  font-family: Helvetica;
  font-weight: bold;
  letter-spacing: -2px;
  color: white;
  max-width: 650px;
  margin-left: 100px; }

h2.sub {
  font-size: 40px;
  max-width: 650px;
  width: 100%;
  margin-left: 100px;
  font-family: Helvetica;
  font-weight: bold;
  letter-spacing: -1px;
  color: white;
  margin-top: 20vh;
  padding-bottom: 10vh; }

a {
  text-decoration: underline;
  transition: 0.5s all; }
  a:hover {
    background: #F1C40F;
    transition: 0.5s all; }

h3 {
  font-size: 40px;
  max-width: 650px;
  margin-left: 160px;
  font-family: Helvetica;
  font-weight: bold;
  letter-spacing: -1px;
  color: black;
  padding-top: 10vh;
  padding-bottom: 5vh; }

h5 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 20px; }

h2 {
  color: black;
  width: 100%;
  margin: 0;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 20px; }

p {
  font-family: Helvetica;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: -0.5px; }
  p.skills {
    opacity: 0.4;
    margin-top: 30px; }

div.hero {
  padding: 60px;
  background: black;
  /*border: 60px solid white;*/
  margin: 60px;
  min-height: 100vh;
  border-bottom: 0;
  padding-top: 20vh; }
  div.hero.footer {
    min-height: auto; }
    div.hero.footer h2.sub {
      margin-top: 00px; }

span.name {
  animation: 30s pastelColor infinite; }

div.clips {
  /*border: 60px solid white;*/
  margin: 60px;
  background-color: white;
  border-top: 0;
  padding-bottom: 70px; }
  div.clips section.work {
    width: calc(100% - 320px);
    margin: 0 auto;
    margin-bottom: 150px; }
  div.clips .text, div.clips .photos {
    display: inline-block;
    vertical-align: top; }
  div.clips .text {
    width: 35%;
    margin-left: 5%; }
    div.clips .text.additional {
      width: 100%;
      margin-left: 0;
      max-width: 650px;
      margin-bottom: -150px; }
      div.clips .text.additional h5 {
        margin-bottom: 10px; }
      div.clips .text.additional p {
        font-family: Helvetica;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
        letter-spacing: -0.5px; }
        div.clips .text.additional p.skills {
          opacity: 0.4;
          margin-top: 20px; }
  div.clips .photos {
    width: 54%; }
  div.clips img {
    width: 100%;
    border: 1px solid black; }
  div.clips .flex {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 4.5%; }
  div.clips img.mobile {
    width: 30%;
    align-self: center;
    margin-right: 1%; }
  div.clips img.mobile:nth-child(3) {
    margin-right: 0; }
  div.clips .mobile1 {
    display: none; }
  div.clips .desktop1 {
    display: block; }

.more-work {
  width: calc(100% - 320px);
  margin-left: 160px; }
  .more-work h2 {
    display: inline;
    margin-right: 30px;
    line-height: 1.5;
    font-size: 25px; }

.mobile {
  display: block; }

/*-----------------  MOBILE ------------------*/
@media only screen and (min-width: 801px) and (max-width: 1250px) {
  div.clips section.work {
    width: 100%; }
    div.clips section.work .text, div.clips section.work .photos {
      vertical-align: top; }
  div.clips {
    padding: 40px; }
  h3 {
    width: 100%;
    margin-left: 0; }
  .more-work {
    width: 100%;
    margin-left: 0; }
  .hero.footer h2 {
    margin-left: 0; } }

@media only screen and (max-width: 900px) {
  div.clips section.work {
    width: 100%;
    padding-bottom: 2em;
    margin-bottom: 4em; }
    div.clips section.work .text, div.clips section.work .photos {
      vertical-align: top; }
  main.intro {
    height: 120vh; }
  h2 {
    font-size: 2em; }
  h3 {
    font-size: 30px;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 30px; }
  h1 {
    border-bottom: 0;
    font-size: 3.5em;
    margin-top: 0em;
    width: 200px; }
  div.clips section.work .text, div.clips section.work .photos {
    display: block; }
  div.clips section.work .text {
    margin: 0 auto;
    width: 100%;
    margin-top: 3em;
    text-align: left; }
    div.clips section.work .text h5 {
      font-weight: bold; }
  div.clips section.work .photos {
    margin: 0 auto;
    width: 100%; }
  .flex {
    justify-content: center; }
  div.hero {
    margin: 20px;
    padding: 30px;
    padding-top: 20vh; }
  div.clips {
    margin: 20px;
    padding: 30px; }
  h1 {
    font-size: 40px;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: -2px;
    color: white;
    max-width: 650px;
    margin-left: 0px;
    width: 100%; }
  h2.sub {
    font-size: 24px;
    max-width: 650px;
    width: 100%;
    margin-left: 00px;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: left; }
  .desktop {
    display: block; }
  nav {
    text-align: right;
    padding-right: 30px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
    height: 50px; }
    nav h4 {
      font-weight: bold; }
  a {
    color: black; }
  .more-work {
    width: 100%;
    margin-left: 0; }
    .more-work h2 {
      font-size: 20px;
      margin-right: 20px; } }
