@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,800,700,700italic,800italic);
html {
    font-family: 'Open Sans';
}

.bgimage {
    background-image:url(../images/type.jpg);
    background-position:50% 50%;
    background-size:cover;
    position:fixed;
    left:5%;
    top:20%;
    right:5%;
    bottom:5%;
    z-index: -999;
}

.menu {
    vertical-align: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    width:30%;
    height: auto;
    font-size: 17px;
    font-weight: 800;
    margin-top: 50px;
    border-bottom: 2px solid black;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

.inside {
    font-size: 14px;
    border: 1px solid black;
}

.select {
    color: #D8D8D8;
}

h1 {
	padding-bottom: 20px;
    font-weight: 800;
	font-size: 60px;
    text-align: center;
  
}

.intro {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 800;
}

h5 {
    font-size: 16px;
    font-weight: 800;
    text-decoration: underline;
}

.filler {
    margin-top: 100px;
}

.half {
    margin-top: 40px;
}

.large {
    margin-top: 150px;
}

img {
    height: 400px;
    width: auto;
    display: inline-block;
    padding: 10px;
}

.icon {
    height: 100%;
    width: 100%;
}

.float {
    float: left;
    padding-right: 50px;
}

.circle {
    border-radius: 50%;
}

.caption {
    font-size:;
}

.footer {
    width: 100%;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    vertical-align: fixed;
}

a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

a:hover{
    color: #D8D8D8;
}






/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    
  }

}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


