.main {
	margin: 0 auto;
	width: 50%;
}

p {
	text-align: center;
	margin-top: 50px;
	font-size: 3em;
}

.link {
	font-weight: 100;
	border-bottom: 2px solid #CACFD2;
}

.link:hover {
	text-decoration: none;
	opacity: 0.6;
	transition: .2s all ease-in-out;
}

.intro2 {
	font-size: 2em;
	margin-top: 30px;
	display: block;
}

.smaller {
	font-size: 2em;
}

#fp-nav {
	color: #CACFD2 !important;
}

table {
	margin: 0 auto;
	font-size: 1.2em;
	width: 80%;
	margin-left: 10%;
}

tr {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
	display: block;
}

td {
	padding-right: 3%;
	width: 30%;
	text-align: center;
}






@media (max-width: 760px) {
	p {
		font-size: 2em;
	}

	.smaller {
		font-size: 1.5em;
	}

	#fp-nav {
		display: none;
	}

	.main {
		width: 80%;
	}
}